.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  height: 212px;
  margin: 29px;
  margin-bottom: 0px;
}

.hero-logo{
  margin-left: 16px;
}

@media (max-width: 768px) {
  .hero-container {
    font-size: 12px;
    font-weight: 600;
    line-height: 42px;
    margin: auto;
    }
    .hero-logo{
      width: 164px;
    }
}

@media (max-width: 480px) {
  .hero-container {
    font-size: 12px;
    font-weight: 600;
    line-height: 27px;
    height: 160px;
    margin: 25px;
    }
    .hero-logo{
      width: 140px;
    }
}

@media (max-width: 376px) {
  .hero-container {
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    height: 160px;
    margin: 10px;
    }
    .hero-logo{
      width: 100%;
    }
}

@media (max-width: 321px) {
  .hero-container {
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    height: 150px;
    margin: 10px;
    }
    .hero-logo{
      width: 90px;
    }
}